$green: #2ace48;
$greenOpacity: #2ace4830;
$blue: #0187FF;
$blueOpacity: #0187FF30;
$lightBackground: #9EA6B3;
$grayBlue: #636973;
$tag: #B3BAC6;
$text: #B3BAC6;
$textOpacity: rgba(179, 186, 198, 0.3);
$background: #1D1F22;

$xl: 1300px;
$lg: 1024px;
$sm: 567px;
$md: 768px;
$xs: 400px;