.container {
  margin: auto;
  padding: 0 30px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/a0a4773e60da0dec558299094ee39ea2.woff2") format("woff2"), url("./../fonts/brockman/a0a4773e60da0dec558299094ee39ea2.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/123acc012834a3c72fabe1ac43755478.woff2") format("woff2"), url("./../fonts/brockman/123acc012834a3c72fabe1ac43755478.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/026295f0ec6217b96d096b6765644c34.woff2") format("woff2"), url("./../fonts/brockman/026295f0ec6217b96d096b6765644c34.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/772ede6c03ecf9d72909aa19961766cb.woff2") format("woff2"), url("./../fonts/brockman/772ede6c03ecf9d72909aa19961766cb.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/7c45408cf64ce0691c24460f38157a53.woff2") format("woff2"), url("./../fonts/brockman/7c45408cf64ce0691c24460f38157a53.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/5f1af9663daf24b953a42fd6f04b30ec.woff2") format("woff2"), url("./../fonts/brockman/5f1af9663daf24b953a42fd6f04b30ec.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/04f43018bf12011bcd3e095b08ba3ea8.woff2") format("woff2"), url("./../fonts/brockman/04f43018bf12011bcd3e095b08ba3ea8.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/1e7945d500d7724467e0724ae63ccf02.woff2") format("woff2"), url("./../fonts/brockman/1e7945d500d7724467e0724ae63ccf02.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/c8cb2d277bfac54e0da3474bd1846d1d.woff2") format("woff2"), url("./../fonts/brockman/c8cb2d277bfac54e0da3474bd1846d1d.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/cbed29c2c4e321db707a9727e4e14b83.woff2") format("woff2"), url("./../fonts/brockman/cbed29c2c4e321db707a9727e4e14b83.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/332437934e11b25f732f99a928a88a36.woff2") format("woff2"), url("./../fonts/brockman/332437934e11b25f732f99a928a88a36.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/9253c2a19b8b95889f75a9ea159be232.woff2") format("woff2"), url("./../fonts/brockman/9253c2a19b8b95889f75a9ea159be232.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/b7a980b96df6ca3c4df2569bebde1b26.woff2") format("woff2"), url("./../fonts/brockman/b7a980b96df6ca3c4df2569bebde1b26.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/fa97a45b674ec894013d0618b48c3a98.woff2") format("woff2"), url("./../fonts/brockman/fa97a45b674ec894013d0618b48c3a98.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/ec9a0b599ad47a3ea492cd15af917e5e.woff2") format("woff2"), url("./../fonts/brockman/ec9a0b599ad47a3ea492cd15af917e5e.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/bdaf2019ef67479e48182b1ff86f67ac.woff2") format("woff2"), url("./../fonts/brockman/bdaf2019ef67479e48182b1ff86f67ac.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/79524e64453dda046a5989225b53ebf3.woff2") format("woff2"), url("./../fonts/brockman/79524e64453dda046a5989225b53ebf3.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/ef5696fb3003a2207126d1a763d20a86.woff2") format("woff2"), url("./../fonts/brockman/ef5696fb3003a2207126d1a763d20a86.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/dc15ffc0972ad12ceccc2b30548735bc.woff2") format("woff2"), url("./../fonts/brockman/dc15ffc0972ad12ceccc2b30548735bc.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/ceac67e01c8acfbd2a92a5f46b84c4bb.woff2") format("woff2"), url("./../fonts/brockman/ceac67e01c8acfbd2a92a5f46b84c4bb.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/2c3105d53f8d9dffd6e90203c4416d5f.woff2") format("woff2"), url("./../fonts/brockman/2c3105d53f8d9dffd6e90203c4416d5f.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/46fb5bc0343c3e427b2568a5639eda8d.woff2") format("woff2"), url("./../fonts/brockman/46fb5bc0343c3e427b2568a5639eda8d.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/a98b79f42fedde9f298c9c4ee1f9e93c.woff2") format("woff2"), url("./../fonts/brockman/a98b79f42fedde9f298c9c4ee1f9e93c.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Brockman";
  src: url("./../fonts/brockman/4bfd4e27d7d019253367ca1bf6442031.woff2") format("woff2"), url("./../fonts/brockman/4bfd4e27d7d019253367ca1bf6442031.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.service-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
}
.service-card.active:after, .service-card:hover:after {
  content: "";
  background: transparent linear-gradient(199deg, #8DA1C3 0%, #B3CEFA 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.2;
}
.service-card.active span, .service-card:hover span {
  color: white;
}
.service-card.active span svg, .service-card:hover span svg {
  fill: white;
}
.service-card span {
  color: #B3BAC6;
}
.service-card svg {
  margin-left: auto;
  fill: #B3BAC6;
}

.faq-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  z-index: 4;
}
.faq-card p {
  color: #B3BAC6;
  padding-left: 3.4rem;
  margin: 0;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.faq-card svg {
  transform: rotate(45deg);
  transition: 0.15s ease-out all;
}
.faq-card span {
  color: #B3BAC6;
}
.faq-card.active:after, .faq-card:hover:after {
  content: "";
  background: transparent linear-gradient(199deg, #8DA1C3 0%, #B3CEFA 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.2;
}
.faq-card.active span, .faq-card:hover span {
  color: white;
}
.faq-card.active svg {
  transform: unset;
}
.faq-card.active p {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.header {
  padding: 2rem 0;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background: #1D1F22;
}
.header.scrolling {
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 1024px) {
  .header {
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.05);
  }
}
.header-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-left: auto;
  z-index: 10;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .header-toggle {
    display: none;
  }
}
.header-toggle span {
  display: block;
  border-radius: 50px;
  height: 2px;
  width: 100%;
  background: white;
  transition: 0.25s ease-in-out all;
}
.header-toggle.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50px);
}
.header-toggle.active span:first-child {
  transform: rotate(45deg) translate(8px, 4px);
}
.header-toggle.active span:last-child {
  transform: rotate(-45deg) translate(9px, -5px);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.header-content-logo {
  max-width: 175px;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1300px) {
  .header-content-logo {
    max-width: 100px;
  }
}
.header-content-menu {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 1024px) {
  .header-content-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    background: lightblue;
    width: 100%;
    left: 0;
    padding-bottom: 2rem;
    background: #1D1F22;
    top: -100%;
    transition: 0.25s ease-in-out top;
    z-index: 5;
  }
  .header-content-menu.active {
    top: 104px;
  }
}
.header-content-menu ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .header-content-menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}
.header-content-menu ul li {
  position: relative;
}
.header-content-menu ul li a {
  color: white;
  font-size: 1.063rem;
  position: relative;
  display: flex;
}
@media screen and (max-width: 1300px) {
  .header-content-menu ul li a {
    font-size: 0.75rem;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .header-content-menu ul li a {
    font-size: 1rem;
    text-align: center;
  }
}
.header-content-menu ul li a:after {
  content: "";
  width: 0;
  height: 1px;
  background: linear-gradient(90deg, #ff8f20 0%, #ff3232 100%);
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.25s ease-in all;
}
.header-content-menu ul li a.active:after, .header-content-menu ul li a:hover:after {
  width: 100%;
  right: 0;
}
@media screen and (min-width: 1024px) {
  .header-content-menu ul li:last-child {
    padding-left: 3rem;
  }
  .header-content-menu ul li:last-child:before {
    content: "|";
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    color: #B3BAC6;
    opacity: 0.7;
  }
}

.btn {
  padding: 1.1rem 2.2rem;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  transition: 0.5s ease-in-out box-shadow;
}
.btn.loading {
  pointer-events: none;
}
.btn.loading:before {
  content: "";
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="10" stroke="%23ffffff" fill="none" cy="50" cx="50"><animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform></circle><g></g></g></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
}
.btn.loading svg {
  display: none;
}
.btn-primary {
  background: #0187FF;
  color: white;
  border-radius: 50px;
  font-size: 0.976rem;
  box-shadow: 0 8px 25px rgba(1, 135, 255, 0.1882352941);
}
.btn-primary:hover {
  box-shadow: 0 8px 25px #0187FF;
}
@media screen and (max-width: 1300px) {
  .btn-primary {
    font-size: 0.825rem;
  }
}
.btn-whatsapp {
  background: #2ace48;
  color: white;
  border-radius: 50px;
  font-size: 0.976rem;
  box-shadow: 0 8px 25px rgba(42, 206, 72, 0.1882352941);
}
.btn-whatsapp:hover {
  box-shadow: 0 8px 25px #2ace48;
}
.btn-whatsapp svg {
  width: 20px;
}
@media screen and (max-width: 1300px) {
  .btn-whatsapp {
    font-size: 0.825rem;
  }
}
.btn-primary-borderer {
  background: none;
  color: white;
  border-radius: 50px;
  font-size: 0.976rem;
  border: 1px solid #0187FF;
  box-shadow: 0 8px 25px rgba(1, 135, 255, 0.1882352941);
}
.btn-primary-borderer.no-shadow {
  box-shadow: none;
}
.btn-primary-borderer.black {
  color: black;
}
.btn-primary-borderer:hover {
  box-shadow: 0 8px 25px #0187FF;
}
.btn-primary-borderer path {
  fill: #0187FF;
}
@media screen and (max-width: 1300px) {
  .btn-primary-borderer {
    font-size: 0.825rem;
  }
}
.btn-whatsapp-borderer {
  background: none;
  color: white;
  border-radius: 50px;
  font-size: 0.976rem;
  border: 1px solid #2ace48;
  box-shadow: 0 8px 25px rgba(42, 206, 72, 0.1882352941);
}
.btn-whatsapp-borderer:hover {
  box-shadow: 0 8px 25px #2ace48;
}
.btn-whatsapp-borderer path {
  fill: #2ace48;
}
@media screen and (max-width: 1300px) {
  .btn-whatsapp-borderer {
    font-size: 0.825rem;
  }
}
.btn-clear-arrow {
  color: #0187FF;
}
.btn-clear-arrow svg {
  width: 14px;
  transition: 0.25s ease-in-out all;
}
.btn-clear-arrow svg path {
  fill: #0187FF;
}
.btn-clear-arrow:hover svg {
  transform: translateX(10px);
}

.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}
.form-control input {
  border-radius: 120px;
  font-size: 1rem;
  color: #636973;
  padding: 1rem 1.5rem;
  outline: none;
  border: 2px solid transparent;
  width: 100%;
  background: #e5eaf2;
}
.form-control textarea {
  border-radius: 20px;
  font-size: 1rem;
  color: #636973;
  padding: 1rem 1.5rem;
  outline: none;
  border: 2px solid transparent;
  width: 100%;
  background: #e5eaf2;
}
.form-control label {
  color: #636973;
}
.form-control.newsletter input {
  background: transparent linear-gradient(180deg, #DEE6F2 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}
.form-control small {
  opacity: 0;
  position: absolute;
  bottom: -25px;
  left: 18px;
  color: red;
}
.form-control.error input {
  border-color: red;
  background: rgba(255, 0, 0, 0.1);
  color: white;
}
.form-control.error small {
  opacity: 1;
}

.swiper-right {
  clip-path: inset(-100vw -100vw -100vw -17px);
  overflow: visible;
}

.swiper-button-prev, .swiper-button-next {
  box-shadow: 0px 6px 20px rgba(29, 31, 34, 0.1215686275);
  width: 67px;
  height: 67px;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 200px;
}
.swiper-button-prev svg, .swiper-button-next svg {
  width: 18px;
}
.swiper-button-prev svg path, .swiper-button-next svg path {
  fill: #0187FF;
}
.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}
.swiper-button-prev svg {
  transform: rotate(-180deg);
}

.swiper-slide-next + div + div {
  opacity: 0.4;
}

body {
  font-family: "Brockman", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.pointer-arrow::after {
  content: "";
  width: 20px;
  height: 20px;
  background: white;
  z-index: 20;
  position: absolute;
  bottom: -10px;
  display: block;
  transform: rotate(45deg);
}

.pointer-arrow-black::before {
  content: "";
  width: 20px;
  height: 20px;
  background: linear-gradient(183deg, #333942 0%, #3B424D 100%);
  z-index: 20;
  position: absolute;
  bottom: -10px;
  display: block;
  transform: rotate(45deg);
}

.breadcrumb-arrow-container li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.breadcrumb-arrow-container li:not(.breadcrumb-arrow-container li:last-child):after {
  content: "";
  width: 6px;
  height: 11px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6.687" height="11.375" viewBox="0 0 6.687 11.375"><path id="arrow" d="M2,17.671l4.273,4.273,4.273-4.273" transform="translate(-16.257 11.961) rotate(-90)" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=main.css.map */
