:root {
    --blue: #1ea2e9;
    --red: #cd071e;
    --purple: #731e80;
    --green: #7eb61c;
    --yellow: #fab700;
    --bgBlue: #e8f4fb;
    --bgPurple: #fbe8ea;
    --bgGreen: #f4f8e5;
    --bgYellow: #fcf6e6;


    --primary: var(--blue);
    --primaryBg: var(--bgBlue);

    --roboto: "Roboto", sans-serif;;
    --inter: 'Inter', sans-serif;
}