.breadcrumb-arrow-container {
  flex-wrap: wrap;
  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media screen and (max-width: $lg) {
      font-size: 13px;
    }
    &:not(&:last-child):after {
      content: "";
      width: 6px;
      height: 11px;
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6.687" height="11.375" viewBox="0 0 6.687 11.375"><path id="arrow" d="M2,17.671l4.273,4.273,4.273-4.273" transform="translate(-16.257 11.961) rotate(-90)" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /></svg>');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &.light {
    li {
      color: $grayBlue;
    }
    li:not(&:last-child):after {
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6.687" height="11.375" viewBox="0 0 6.687 11.375"><path id="arrow" d="M2,17.671l4.273,4.273,4.273-4.273" transform="translate(-16.257 11.961) rotate(-90)" fill="none" stroke="%23b3bac6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /></svg>')!important;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}