.btn {
  padding: 1.1rem 2.2rem;
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  transition: 0.5s ease-in-out box-shadow;

  &.loading {
    pointer-events: none;
    &:before {
      content: "";
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="10" stroke="%23ffffff" fill="none" cy="50" cx="50"><animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform></circle><g></g></g></svg>');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      display: block;
    }
    svg {
      display: none;
    }
  }

  &-primary {
    background: $blue;
    color: white;
    border-radius: 50px;
    font-size: 0.976rem;
    box-shadow: 0 8px 25px $blueOpacity;
    &:hover {
      box-shadow: 0 8px 25px $blue;
    }
    @media screen and (max-width: $xl) {
      font-size: 0.825rem;
    }
  }
  &-whatsapp {
    background: $green;
    color: white;
    border-radius: 50px;
    font-size: 0.976rem;
    box-shadow: 0 8px 25px $greenOpacity;
    &:hover {
      box-shadow: 0 8px 25px $green;
    }
    svg {
      width: 20px;
    }
    @media screen and (max-width: $xl) {
      font-size: 0.825rem;
    }
  }
  &-primary-borderer {
    background: none;
    color: white;
    border-radius: 50px;
    font-size: 0.976rem;
    border: 1px solid $blue;
    box-shadow: 0 8px 25px $blueOpacity;
    &.no-shadow {
      box-shadow: none;
    }
    &.black {
      color: black;
    }
    &:hover {
      box-shadow: 0 8px 25px $blue;
    }
    path {
      fill: $blue;
    }
    @media screen and (max-width: $xl) {
      font-size: 0.825rem;
    }
  }
  &-whatsapp-borderer {
    background: none;
    color: white;
    border-radius: 50px;
    font-size: 0.976rem;
    border: 1px solid $green;
    box-shadow: 0 8px 25px $greenOpacity;
    &:hover {
      box-shadow: 0 8px 25px $green;
    }
    path {
      fill: $green;
    }
    @media screen and (max-width: $xl) {
      font-size: 0.825rem;
    }
  }
  &-clear-arrow {
    color: $blue;
    svg {
      path {
        fill: $blue;
      }
      width: 14px;
      transition: 0.25s ease-in-out all;

    }
    &:hover {
      svg {
        transform: translateX(10px);
      }
    }
  }
}

.tag {
  padding: 0.5rem 1rem;
  font-size: 10px;
  border: 2px solid rgba(1, 135, 255, 0.5);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  span {
    &:first-child {
      font-size: 12px;
    }
    &.tag-count {
      font-size: 10px;
      background: $text;
      display: flex;
      padding: 2px 6px;
      color: white;
      border-radius: 50px;
    }
  }
  &:hover {
    background: $blueOpacity;
  }
  &.active {
    background: $blue;
    color: white;
    border-color: $blue;
  }
}