.btn {
  padding: 1.1rem 2.2rem;
  text-decoration: none;
  outline: none;
  &-primary {
    background: $blue;
    color: white;
    border-radius: 50px;
    font-size: 0.976rem;
    @media screen and (max-width: $xl) {
      font-size: 0.825rem;
    }
  }
  &-whatsapp {

  }
}