.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  input {
    border-radius: 120px;
    font-size: 1rem;
    color: $grayBlue;
    padding: 1rem 1.5rem;
    outline: none;
    border: 2px solid transparent;
    width: 100%;
    background: #e5eaf2;
  }
  textarea {
    border-radius: 20px;
    font-size: 1rem;
    color: $grayBlue;
    padding: 1rem 1.5rem;
    outline: none;
    border: 2px solid transparent;
    width: 100%;
    background: #e5eaf2;
  }
  label {
    color: $grayBlue;
  }
  &.newsletter {
    input {
      background: transparent linear-gradient(180deg, #DEE6F2 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    }
  }
  small {
    opacity: 0;
    position: absolute;
    bottom: -25px;
    left: 18px;
    color: red;
  }
  &.error {
    input {
      border-color: red;
      background: rgba(255, 0, 0, 0.1);
      color: white;
    }
    small {
      opacity: 1;
    }
  }
  &.dark {
    label {
      color: $text;
    }
  }
}