.service-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  text-align: left;

  &.active, &:hover {
    &:after {
      content: "";
      background: transparent linear-gradient(199deg, #8DA1C3 0%, #B3CEFA 100%) 0% 0% no-repeat padding-box;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0.2;
    }
    span {
      color: white;
      svg {
        fill: white;
      }
    }
  }

  span {
    color: $text;
  }

  svg {
    margin-left: auto;
    fill: $text;
  }
}

.faq-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  z-index: 4;
  p {
    color: $text;
    padding-left: 3.4rem;
    margin: 0;
    max-height: 0;
    //transition: max-height 0.15s ease-out;
    overflow: hidden;
    position: relative;
    z-index: 5;

  }
  svg {
    transform: rotate(45deg);
    transition: 0.15s ease-out all;
  }
  span {
    color: $text;
  }
  &.active, &:hover {
    &:after {
      content: "";
      background: transparent linear-gradient(199deg, #8DA1C3 0%, #B3CEFA 100%) 0 0 no-repeat padding-box;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0.2;
    }
    span {
      color: white;
    }
  }
  &.active {
    svg {
      transform: unset;
    }
    p {
      max-height: 500px;
      //transition: max-height 0.25s ease-in;
    }
  }

  &.dark {
    span {
      color: black;
      font-weight: 400;
    }
    &.active span {
      font-weight: 800;
    }
    p {
      color: $grayBlue;
    }
  }
}