.reference-table {
  tr {
    @media screen and (max-width: $sm) {
      display: flex;
      flex-direction: column;
    }
    td {
      padding: 0.25rem 0;
      vertical-align: top;
      font-size: 16px;

      &:first-child {
        font-weight: 600;
        padding-right: 1rem;
      }

      &:last-child {
        color: $text;
        @media screen and (max-width: $sm) {
          font-size: 14px;
        }
      }
    }

    &:first-child td {
      padding-top: 0;
    }

    &:last-child td {
      padding-bottom: 0;
    }

  }
}

$checkSpacing: 3px;

.check-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  li {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    color: $grayBlue;
    padding-top: $checkSpacing;
    &:before {
      content: "";
      transform: translateY(-$checkSpacing);
      width: 100%;
      max-width: 32px;
      height: 32px;
      background: url("./../../icons/check.svg");
      display: block;
    }
  }
}