@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/a0a4773e60da0dec558299094ee39ea2.woff2') format('woff2'),
        url('./../fonts/brockman/a0a4773e60da0dec558299094ee39ea2.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/123acc012834a3c72fabe1ac43755478.woff2') format('woff2'),
        url('./../fonts/brockman/123acc012834a3c72fabe1ac43755478.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/026295f0ec6217b96d096b6765644c34.woff2') format('woff2'),
        url('./../fonts/brockman/026295f0ec6217b96d096b6765644c34.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/772ede6c03ecf9d72909aa19961766cb.woff2') format('woff2'),
        url('./../fonts/brockman/772ede6c03ecf9d72909aa19961766cb.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/7c45408cf64ce0691c24460f38157a53.woff2') format('woff2'),
        url('./../fonts/brockman/7c45408cf64ce0691c24460f38157a53.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/5f1af9663daf24b953a42fd6f04b30ec.woff2') format('woff2'),
        url('./../fonts/brockman/5f1af9663daf24b953a42fd6f04b30ec.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/04f43018bf12011bcd3e095b08ba3ea8.woff2') format('woff2'),
        url('./../fonts/brockman/04f43018bf12011bcd3e095b08ba3ea8.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/1e7945d500d7724467e0724ae63ccf02.woff2') format('woff2'),
        url('./../fonts/brockman/1e7945d500d7724467e0724ae63ccf02.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/c8cb2d277bfac54e0da3474bd1846d1d.woff2') format('woff2'),
        url('./../fonts/brockman/c8cb2d277bfac54e0da3474bd1846d1d.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/cbed29c2c4e321db707a9727e4e14b83.woff2') format('woff2'),
        url('./../fonts/brockman/cbed29c2c4e321db707a9727e4e14b83.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/332437934e11b25f732f99a928a88a36.woff2') format('woff2'),
        url('./../fonts/brockman/332437934e11b25f732f99a928a88a36.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/9253c2a19b8b95889f75a9ea159be232.woff2') format('woff2'),
        url('./../fonts/brockman/9253c2a19b8b95889f75a9ea159be232.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/b7a980b96df6ca3c4df2569bebde1b26.woff2') format('woff2'),
        url('./../fonts/brockman/b7a980b96df6ca3c4df2569bebde1b26.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/fa97a45b674ec894013d0618b48c3a98.woff2') format('woff2'),
        url('./../fonts/brockman/fa97a45b674ec894013d0618b48c3a98.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/ec9a0b599ad47a3ea492cd15af917e5e.woff2') format('woff2'),
        url('./../fonts/brockman/ec9a0b599ad47a3ea492cd15af917e5e.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/bdaf2019ef67479e48182b1ff86f67ac.woff2') format('woff2'),
        url('./../fonts/brockman/bdaf2019ef67479e48182b1ff86f67ac.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/79524e64453dda046a5989225b53ebf3.woff2') format('woff2'),
        url('./../fonts/brockman/79524e64453dda046a5989225b53ebf3.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/ef5696fb3003a2207126d1a763d20a86.woff2') format('woff2'),
        url('./../fonts/brockman/ef5696fb3003a2207126d1a763d20a86.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/dc15ffc0972ad12ceccc2b30548735bc.woff2') format('woff2'),
        url('./../fonts/brockman/dc15ffc0972ad12ceccc2b30548735bc.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/ceac67e01c8acfbd2a92a5f46b84c4bb.woff2') format('woff2'),
        url('./../fonts/brockman/ceac67e01c8acfbd2a92a5f46b84c4bb.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/2c3105d53f8d9dffd6e90203c4416d5f.woff2') format('woff2'),
        url('./../fonts/brockman/2c3105d53f8d9dffd6e90203c4416d5f.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/46fb5bc0343c3e427b2568a5639eda8d.woff2') format('woff2'),
        url('./../fonts/brockman/46fb5bc0343c3e427b2568a5639eda8d.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/a98b79f42fedde9f298c9c4ee1f9e93c.woff2') format('woff2'),
        url('./../fonts/brockman/a98b79f42fedde9f298c9c4ee1f9e93c.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brockman';
    src: url('./../fonts/brockman/4bfd4e27d7d019253367ca1bf6442031.woff2') format('woff2'),
        url('./../fonts/brockman/4bfd4e27d7d019253367ca1bf6442031.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

